{% extends 'base.html' %} {% block content %}

 <h3>Add lock review</h3>
  <div class="row">
     <form action= "" method="POST" class="col s12">
         <div class="row">
                <div class="input-field col s12">
                     <i class="material-icons prefix">account_circle</i>
                     <input id="icon_userName" name= "Brand" type="text" class="validate">
                     <label for="icon_userName">Your Name</label>
                </div>
         </div>
         <div class="row">   
                 <div class="input-field col s12">
                     <i class="material-icons prefix">lock</i>
                     <input id="icon_lock" name= "Description" type="text" class="validate">
                      <label for="icon_lock">Lock type and model</label>
                </div>
         </div>
         <div class="row">
                 <div class="input-field col s12">
                     <i class="material-icons prefix">mood</i>
                      <input id="icon_lock" name= "Pros" type="text" class="validate">
                      <label for="icon_lock">Lock type and model</label>
                </div>
         </div>
         <div class="row">
                 <div class="input-field col s12">
                     <i class="material-icons prefix">mood_bad</i>
                      <input id="icon_lock" name= "Cons" type="text" class="validate">
                     <label for="icon_lock">Lock type and model</label>
                </div>
          </div>  
      </form>
  </div>
{% endblock %}