<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Security Products and Reviews.</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.css" integrity="sha256-BbKecxrFo+Ecew/N4HhSlsVkNCvNiDHJySBsqWciTYg=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
  <div class="container-fluid">
        <header>
            <div class="row-inline">
                <div class="dropdown col-xs-12, col-sm-12, col-md-4, col-lg-4, col-xl-3">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="Menu_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Menu
                    </button>
                    <div class="container">
                        <div class="dropdown-menu col-xs-12, col-sm-12, col-md-4, col-lg-4, col-xl-3" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{{ url_for('add_lock') }}" id="Menu_button"> Add Lock</a>
                            <a class="dropdown-item" href="{{ url_for('get_all_locks') }}" id="Menu_button"> Lock listing</a>
                            <a class="dropdown-item" href="{{ url_for('index') }}" id="Menu_button"> Home</a>   
                        </div>
                    </div>   
                </div>
            </div>
        </header>
  

        <section class="row">
            <div class="col-xs-12, col-sm-12, col-md-8, col-lg-8, col-xl-9">
                <h2>Security Products and Reviews.</h2>
            </div>
        
            <div class="container" id='textzone'>
                <div class="row">
                    <div class="col-xs-12, col-sm-12, col-md-8, col-lg-8, col-xl-9">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        
        </section>
    
    
    
        <div class="col-xs-12, col-sm-12, col-md-4, col-lg-4, col-xl-3">
            <footer>Made by Patrick Trollip 2019</footer>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
           $(document).ready(function(){
           $('.collapsible').collapsible();
           $('select').material_select();});
    </script>
</body>
</html>
