<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Security Products and Reviews.</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/style.css')}}" type="text/css/>">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    

</head>
<body>
  <div>
     <header>Data centric project</header>
  </div>
  <div>
       <button>
            <nav>
                <div class="nav-button">
                    <ul>
                        <li><a href="index.html"   id="home_button">Home</a></li>
                        <li><a href="edit_lock.html"  id="edit_button">Edit Lock</a></li>
                        <li><a href="lock_list.html"  id="data_button">Lock Data</a></li>
                    </ul>
                </div>
            </nav>
      </button>
  </div>
    <h1>Security Products and Reviews.</h1>
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
    <div>
        <footer>Made by Patrick Trollip 2019</footer>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
           $(document).ready(function(){
           $('.collapsible').collapsible();
           $('select').material_select();});
    </script>
</body>
</html>