{% extends 'base.html' %} {% block content %}
<h3>Edit lock in database</h3>
 
  <div class="row">
        <form action="" method="POST" class="col s12" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <p>
                {{ form.brand.label }}<br>
                {{ form.brand(size=120) }}<br>
                {% for error in form.brand.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.description.label }}<br>
                {{ form.description(col="120", rows="5") }}<br>
                {% for error in form.description.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.pros.label }}<br>
                {{ form.pros(col="120", rows="5") }}<br>
                {% for error in form.pros.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>
                {{ form.cons.label }}<br>
                {{ form.cons(col="120", rows="5") }}<br>
                {% for error in form.cons.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
            <p>{{ form.submit }}</p>
        </form>
    </div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
{% endblock %}