{% extends 'base.html' %}

{% block content %}

    <h2>Padlocks</h2>
    
 <ul class="collapsible" data-collapsable="accordion">
         {% for lock in locks %}
                 <li>
                     <div class="collapsible-header">
                            <div class="col s3">
                                  <i class="material-icons">low_priority</i><span><p class = "custom_text">{{ lock.brand }}</p></span>
                            </div>
                     </div>
                        <div class="header col s9" id='btn_small'>
                            <a href="{{ url_for('add_lock') }}" class="waves-effect waves-light btn btn_small orange"><i class="material-icons left">add</i>Add Lock to collection</a>
                            <a href= "{{url_for('get_single_lock', lock_id=lock._id)}}" class="waves-effect waves-light btn btn_small green"><i class="material-icons left">book</i>Read data</a>
                            <a href= "{{url_for('edit_lock', lock_id=lock._id)}}" class="waves-effect waves-light btn btn_small blue"><i class="material-icons left">edit</i>Edit data</a>
                            <a href= "{{url_for('delete_lock', lock_id=lock._id)}}" class="waves-effect waves-light btn btn_small red"><i class="material-icons left">delete</i>Delete data</a>
                        </div>
                     
                        <div class="collapsible-body" id='textzone'>
                                <span><i class="material-icons">info</i><p>{{ lock.description }}</p> </span>
                         </div>
                        <div class="collapsible-body" id='textzone'>
                                <span><i class="material-icons">check</i><p>{{ lock.pros }}</p> <i class="material-icons">clear</i><p>{{ lock.cons }} </p> </span>
                         </div>
                 </li>
        {% endfor %}
 </ul> 
        
{% endblock %}


