{% extends 'base.html' %}

{% block content %}

    <h2>Padlocks</h2>
    
 <ul class="collapsible" data-collapsable="accordion">
         {% for lock in locks %}
                 <li>
                     <div class="collapsible-header" id="lock_title">
                            <div class="col s3" id="lock_title">
                                  <span><p class = "custom_text">{{ lock.brand }}</p></span>
                            </div>
                     </div>
                        <div class="header col s9" id='btn_small'>
                            <a href= "{{url_for('get_single_lock', lock_id=lock._id)}}"><button type="button" class="btn btn-warning"><i class="fas fa-book"></i> Read data</button></a>
                            <a href= "{{url_for('edit_lock', lock_id=lock._id)}}"><button type="button" class="btn btn-warning"><i class="far fa-edit"></i> Edit data</button></a>
                            <a href= "{{url_for('delete_lock', lock_id=lock._id)}}"><button type="button" class="btn btn-warning"><i class="fas fa-minus"></i> Delete data</button></a>
                        </div>
                     
                        <div class="collapsible-body" id='textzone'>
                                <span><p>{{ lock.description }}</p> </span>
                         </div>
                        <div class="collapsible-body" id='textzone'>
                                <span><p>{{ lock.pros }}</p>
                                <p>{{ lock.cons }} </p> </span>
                         </div>
                 </li>
        {% endfor %}
 </ul> 
        
{% endblock %}


