{% extends 'base.html'%} {% block content %}

 <div class="row">

        <h3>Lock Listing</h3>
    
        <ul class="collapsible" data-collapsible="accordion">
             {% for lock in locks %}
                <li>
                     <div class="collapsible-header">
                            <a href="{{url_for('get_all_locks', lock_id=locks._id, lock_Description=locks._Description)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>

                            <div class="task_header">
                                <strong>{{ lock.Brand }}</strong>  - {{ lock.Description }}
                            </div>
                     </div>
                </li>
            {% endfor %}

      </ul>
 </div>
{% endblock %}




