{% extends 'base.html'%} {% block content %}

 <div class="row">

        <h3>Lock Detail</h3>
    
        <ul class="collapsible" data-collapsible="accordion">
             
                <li>
                     <div class="collapsible-header">
                            <a href="{{url_for('edit_data', lock_id=locks._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>

                            <div class="task_header">
                                <strong>{{ locks.Brand }}</strong>  - {{ locks.Description }}<br>
                                {{ locks._id }}
                            </div>
                     </div>
                </li>
            

      </ul>
 </div>
{% endblock %}