{% extends 'base.html'%} {% block content %}

 <div class="row">

        <h3>Lock Detail</h3>
    
        <ul class="collapsible" data-collapsible="accordion">
             
                <li>
                     <div class="collapsible-header">
                            <div class="task_header">
                                <strong>{{ locks.Brand }}</strong>  - {{ locks.Description }}<br>
                            </div>
                     </div>
                </li>
            

      </ul>
 </div>
{% endblock %}